/*font-family: 'Baloo Thambi 2', cursive;
font-family: 'Suez One', serif;*/

:root {
  --primary-color: #76d1cb;
  --secondary-color: #10645f;
  --third-color: #f0eae3b0;
  --titles-font: "Suez One", serif;
}

body {
  font-family: "Baloo Thambi 2", cursive;
}

h1 {
  font-family: var(--titles-font);
  color: white;
  font-size: 70px;
}

h2 {
  font-size: 28px;
  padding: 13px;
}

h3 {
  font-family: var(--titles-font);
  font-size: 30px;
  margin-top: 25px;
}

small {
  padding: 20px 0 20px;
  display: block;
}

small a {
  color: white;
}

.contact-information h4 {
  font-family: var(--titles-font);
  font-size: 50px;
  margin-top: 25px;
  text-align: center;
  padding-left: 100px;
}

.contact-info {
  background: #096e68b2;
  text-align: center;
}

.homepage-container {
  background: var(--primary-color);
  padding: 75px 150px;
}

.homepage-container p {
  font-size: 45px;
  margin: 0;
}

.contact-button {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 20px;
}

.contact-button:hover {
  border: 1px solid var(--secondary-color);
  color: white;
  background: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

img.one-page-site {
  padding-top: 60px;
}

img.weather-application {
  padding-top: 35px;
}

img.portfolio-project {
  padding-top: 70px;
}

.footer-contact-button {
  border: 1px solid white;
  color: white;
  font-size: 15px;
}

.footer-contact-button:hover,
.contact-links:hover {
  border: 1px solid var(--secondary-color);
  color: white;
  background: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.contact-links {
  border: 1px solid white;
  color: white;
  font-size: 15px;
}

.content-container {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.content-container h1 {
  color: rgb(0, 0, 0);
  font-size: 45px;
}

.project-content img {
  width: 470px;
  padding-top: 35px;
}

.project-description {
  text-align: left;
  margin-top: 50px;
  padding: 0 20px 0 55px;
}

.projects-button {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 15px;
}

.projects-button:hover {
  border: 1px solid var(--secondary-color);
  color: white;
  background: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.contact-icons {
  padding: 10px;
  margin: 0 100px;
  background: var(--primary-color);
}

.contact-icons a {
  color: white;
  margin: 10px;
  font-size: 40px;
  display: block;
}

footer p {
  padding-top: 30px;
  font-size: 25px;
  font-family: var(--titles-font);
}

footer .email-link {
  text-decoration: none;
  color: black;
}

footer .email-link:hover {
  color: white;
  transition: all 150ms ease-in-out;
}

footer .social-links a {
  color: black;
  font-size: 25px;
  margin: 5px;
}

footer .social-links a:hover {
  color: white;
  transition: all 150ms ease-in-out;
}

footer h4 {
  font-size: 50px;
  font-family: var(--titles-font);
}

.contact-box {
  background: var(--third-color);
  padding: 30px;
  margin: 20px 30px;
}

.contact-box a {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 20px;
}

.contact-box a:hover {
  border: 1px solid var(--secondary-color);
  color: white;
  background: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

@media (max-width: 640px) {
  h1 {
    font-size: 50px;
  }

  .homepage-container {
    padding: 35px 25px;
  }

  .project-description {
    text-align: center;
    padding: 0;
  }

  .project-content img {
    display: none;
  }

  .contact-icons {
    margin: 0;
    margin-top: 15px;
  }

  .contact-information h4 {
    padding: 0;
    font-size: 40px;
  }
}
